---
import { Image } from 'astro:assets'
import mailingList from './mailling-list.svg'
import Input from '@/components/input.astro'
import Button from '@/components/button.astro'
---

<div class="flex flex-wrap gap-y-12 gap-x-32">
  <div class="w-full lg:flex-1 flex flex-col space-y-6">
    <h2>Mailing List</h2>
    <p>Receive important announcements and news directly on your email address by joining our mailing lists</p>
    <div class="flex space-x-4 items-center mt-4">
      <Input placeholder="Email Address" />
      <Button>Submit</Button>
    </div>
  </div>
  <div class="w-4/5 mx-auto lg:w-2/5">
    <Image src={mailingList} alt="mailing list" class="w-full max-h-[220px] md:max-h-[300px]" />
  </div>
</div>
