---
import { Image } from 'astro:assets'
import arrowCircle from './arrow-circle.svg'
import RoadmapItem from './roadmapItem.astro'

interface RoadmapItem {
  year: string
  // Max 3 achievements
  achievements: string[]
}

const roadmapData: RoadmapItem[] = [
  {
    year: '2014',
    achievements: ['Monero launched', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2015',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2016',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2017',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2018',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2019',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2020',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2021',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2022',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2023',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2024',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
  {
    year: '2025',
    achievements: ['Monero Research Lab founded', 'Monero Research Lab founded', 'Monero Research Lab founded'],
  },
]

// We group the data into chunks of 3 items and repeat the image underneath
function chunkArray(array: RoadmapItem[], chunkSize: number) {
  const chunks = []
  for (let i = 0; i < array.length; i += chunkSize) {
    chunks.push(array.slice(i, i + chunkSize))
  }
  return chunks
}
const groupedRoadmapData = chunkArray(roadmapData, 3)
---

<div class="w-full flex flex-col items-center justify-center">
  <div class="w-full sm:w-4/5 md:w-3/5 xl:w-1/2 space-y-6 flex flex-col items-center px-8">
    <div class="w-full flex justify-between items-center">
      <Image src={arrowCircle} alt="arrow back" class="w-6 h-6" />
      <h2>Roadmap</h2>
      <Image src={arrowCircle} alt="arrow forward" class="w-6 h-6 rotate-180" />
    </div>
    <p class="w-full md:w-2/3 lg:1/2 text-center">
      Monero team and community are working hard to bring more into the Monero project. Here you can see what’s been
      done and what’s ahead of the project.
    </p>
  </div>

  <div class="flex mt-20 overflow-x-auto hide-scrollbar">
    <div class="flex flex-nowrap">
      {
        groupedRoadmapData.map((group) => (
          <div class="flex flex-col shrink-0 w-full">
            <div class="flex">
              {group.map((r: RoadmapItem) => (
                <RoadmapItem key={r.year} {...r} />
              ))}
            </div>
            <div class="w-full h-12 bg-[#292929] -mt-8" />
            <div class="w-full h-4 bg-[#212121]" />
          </div>
        ))
      }
    </div>
  </div>
</div>
