---
import '@/assets/styles/globals.css'
import Layout from '@/layouts/baseLayout.astro'
import Container from '@/components/container.astro'
---

<Layout title="Research | Monero">
  <Container>
    <div>Research</div>
  </Container>
</Layout>
