---
import '@/assets/styles/globals.css'
import Layout from '@/layouts/baseLayout.astro'
import Hero from './_home/hero/hero.astro'
import PromoVideo from './_home/promoVideo/promoVideo.astro'
import Features from './_home/features/features.astro'
import Communities from './_home/communities/communities.astro'
import DownloadWallet from './_home/downloadWallet/downloadWallet.astro'
import Sponsors from './_home/sponsors/sponsors.astro'
import Roadmap from './_home/roadmap/roadmap.astro'
import RecentBlogPosts from './_home/recentBlogPosts/recentBlogPosts.astro'
import MailingList from './_home/mailingList/mailingList.astro'
---

<Layout title="Home | Monero - secure, private, untraceable">
  <div class="w-full sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-7xl mt-8 lg:mt-0 px-8">
    <Hero />
  </div>
  <div class="w-full mt-28 px-8 sm:px-0">
    <PromoVideo />
  </div>
  <div class="w-full sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-7xl mt-28 px-8">
    <Features />
  </div>
  <div class="w-full sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-7xl mt-28 px-8">
    <DownloadWallet />
  </div>
  <div class="w-full sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-7xl mt-24 px-8">
    <Communities />
  </div>
  <div class="w-full sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-7xl mt-28 px-8">
    <Sponsors />
  </div>
  <div class="w-full mt-28 px-0 overflow-x-scroll hide-scrollbar">
    <Roadmap />
  </div>
  <div class="w-full sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-7xl px-8">
    <RecentBlogPosts />
  </div>
  <div class="w-full sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-7xl mt-28 px-8">
    <MailingList />
  </div>
</Layout>
