<div class="w-full flex flex-col justify-center items-center particles space-y-6">
  <h2>How does Monero work?</h2>
  <video
      autoPlay={true}
      controls={true}
      loop={false}
      muted={false}
      poster="/videos/monero-promo-poster.png"
      class="w-full sm:w-4/5 md:w-3/5 xl:w-1/2"
  >
    <source src="/videos/monero-promo.m4v" type="video/mp4">
  </video>
</div>
<style>
    .particles {
        background-image: url('../../assets/images/promoVideo/particles.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>
