---
import { tv } from 'tailwind-variants'

interface Props {
  class?: string
  intent?: 'primary' | 'secondary' | 'outline' | 'link'
  size?: 'default' | 'sm' | 'md' | 'lg' | 'icon'
  onclick?: string
}

const buttonVariants = tv({
  base: 'inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors disabled:pointer-events-none disabled:opacity-50',
  variants: {
    intent: {
      primary: 'bg-primary text-primary-foreground hover:bg-primary/85',
      secondary: 'bg-white text-black hover:bg-white/80',
      outline: 'border-input border-2 bg-transparent hover:text-foreground/80',
      link: '!min-w-0 bg-transparent !p-0 text-primary',
    },
    size: {
      default: 'h-12 px-4 py-2 sm:min-w-40',
      sm: 'h-9 px-3',
      md: 'h-10 px-4 py-2',
      lg: 'h-11 px-8',
      icon: 'h-10 w-10',
    },
  },
  defaultVariants: {
    intent: 'primary',
    size: 'default',
  },
})

/**
 * For Astro components, we recommend setting your defaultVariants within
 * Astro.props (which are `undefined` by default)
 */
const { class: className, intent = 'primary', size = 'default', ...rest } = Astro.props
---

<button class={buttonVariants({ intent, size, class: className })} {...rest}>
  <slot />
</button>
