---
import { tv } from 'tailwind-variants'

const containerVariants = tv({
  base: 'mt-28 w-full px-8',
  variants: {
    intent: {
      fullWidth: 'px-0',
      maxWidth: 'container',
    },
  },
  defaultVariants: {
    intent: 'maxWidth',
  },
})

const { class: className, intent = 'maxWidth', ...rest } = Astro.props
---

<div class={containerVariants({ intent, class: className })} {...rest}>
  <slot />
</div>
