---
import { Image } from 'astro:assets'
import logo from '@/assets/images/logo.svg'
import Container from './container.astro'
---

<footer class="bg-[#121212] w-full mt-40 flex justify-center">
  <Container class="py-32 space-y-6 mt-0">
    <Image src={logo} alt="logo" class="w-32" />

    <div class="flex flex-wrap justify-between gap-x-8">
      <ul class="w-full md:w-auto flex flex-col items-start mb-8">
        <li class="mb-2"><a href="https://ccs.getmonero.org/" target="_blank">Community Crowdfunding</a></li>
        <li class="mb-2"><a href="/individuals/discover">Discover Monero</a></li>
        <li class="mb-2"><a href="/wallets">Wallets</a></li>
        <li class="mb-2"><a href="#">User Guide</a></li>
        <li class="mb-2"><a href="#">Exchanges and Services</a></li>
      </ul>
      <ul class="w-full md:w-auto flex flex-col items-start mb-8">
        <li class="mb-2">
          <a href="https://github.com/monero-project/meta/blob/master/VULNERABILITY_RESPONSE_PROCESS.md" target="_blank"
            >Vulnerability Response</a
          >
        </li>
        <li class="mb-2"><a href="/developers/documents">Documents</a></li>
        <li class="mb-2"><a href="/developers/research">Research</a></li>
        <li class="mb-2"><a href="/developers/mining-running-node">Mining/Running a node</a></li>
        <li class="mb-2"><a href="/developers/third-party-tools">Third-Party Tools</a></li>
      </ul>
      <ul class="w-full md:w-auto flex flex-col items-start mb-8">
        <li class="mb-2"><a href="https://translate.getmonero.org/" target="_blank">Translate</a></li>
        <li class="mb-2"><a href="/community">Workgroups</a></li>
        <li class="mb-2"><a href="/blog">Blog</a></li>
        <li class="mb-2"><a href="https://github.com/monero-project/monero-site" target="_blank">Source Code</a></li>
        <li class="mb-2"><a href="#">Contribute</a></li>
      </ul>
    </div>
  </Container>
</footer>
