<div class="flex flex-wrap gap-x-8 md:gap-x-16 lg:gap-x-32 md:flex-nowrap items-center justify-between space-y-8">
  <div class="flex-1 space-y-6">
    <slot name="left" />
  </div>
  <div class="flex-1 min-w-full md:min-w-0 flex justify-center md:justify-end">
    <slot name="right" />
  </div>
</div>
