---
import { tv } from 'tailwind-variants'

interface Props {
  leftClass?: string
  rightClass?: string
  wrapperClass?: string
  hasLeftImage?: boolean
  hasRightImage?: boolean
  centered?: boolean
}

const twoColsLayout = tv({
  slots: {
    base: 'flex flex-wrap justify-center gap-x-8 space-y-28 md:flex-nowrap md:gap-x-16 md:space-y-0 lg:gap-x-32',
    image: 'flex max-h-[450px] w-auto min-w-full flex-1 justify-center md:min-w-0 md:justify-end',
    text: 'min-w-[300px] space-y-6 text-center md:flex-1 md:text-left',
  },
})

const { base, image, text } = twoColsLayout()
const { leftClass, rightClass, hasRightImage = false, hasLeftImage = false, wrapperClass, centered } = Astro.props
---

<div class:list={[base({ class: wrapperClass }), { 'items-center': centered }]}>
  <div class:list={[hasLeftImage ? image() : text(), leftClass]}>
    <slot name="left" />
  </div>
  <div class:list={[hasRightImage ? image() : text(), rightClass]}>
    <slot name="right" />
  </div>
</div>
