@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 0 0% 16%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 210 40% 98%;

    --primary: 20 88% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 30%;
    --secondary-light: 0 0% 40%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 100%;

    --card: 0 0% 16%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: 'Inter';
    src:
      url('/fonts/inter-variable.woff2') format('woff2 supports variations'),
      url('/fonts/inter-variable.woff2') format('woff2-variations');
    font-weight: 100 1000;
  }

  @font-face {
    font-family: 'MoneroGothic';
    src: url('/fonts/monerogothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans-bis;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  p,
  a,
  span {
    @apply text-sm md:text-base;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* For WebKit browsers */
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }

  /* Filter colors for SVGs */
  .filter-primary {
    filter: invert(47%) sepia(99%) saturate(1900%) hue-rotate(347deg) brightness(96%) contrast(96%);
  }

  .filter-white {
    filter: saturate(0%) brightness(200%);
  }
}
