---
import Menu from '@/components/menu/menu.astro'
import Footer from '@/components/footer.astro'
import Container from '@/components/container.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark">
    <div class="min-h-screen flex flex-col items-center w-full">
      <Container class="mt-8">
        <Menu />
      </Container>
      <slot />
      <Footer />
    </div>
  </body>
</html>
